@charset "utf-8";
/* CSS Document */
$headerColor: #5CBCAB;
$backgroundColor: #F0EAEA;
$containerColor: #fff;
$buttonColor: #5CBCAB;
$questionDivColor: #57B4E6;
$textFieldColor: #DD871C;

body {
	font-family: arial, san-serif;
	background-color: $backgroundColor;
}

.header {
	background: $headerColor;
	height: 120px;
	margin-bottom: 30px;
	min-width: 700px;
	h1 {
		color: white;
		font-size: 2.5em;
		margin-top: 30px;
		display: inline-block;
		margin-left: 20px;
	}
	img {
		height: 120px;
		width: 30%;
		float: right;
	}
}

.contentContainer {
	height: 500px;
}

.button {
	float: right;
	margin-right: 25px;
	padding: 10px 15px;
	background: $buttonColor;
	border: none;
	border-radius: 5px;
	color: white;
}
.button:hover {
	filter: brightness(85%);	
}

.backButton {
	float: left;
	margin-left: 10px;
}

.backButton:hover {
	filter: brightness(85%);
}

/* FRONT PAGE STYLING */
.pageIntro {
	height: 400px;
	margin-left: 20%;
	margin-right: 5%;
	margin-top: 100px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	background-color: $containerColor;
}

.inputBox {
	width: 180px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 2px;
	background: $textFieldColor;
	color: white;
}

.findMunicipality {
	height: 200px;
	margin-top: 100px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	background-color: $containerColor;
	min-width: 300px;
	h2{
		margin-bottom: 10px;
	}
}

.municipalityInfo {
	margin-top: 20px;
}


/* QUESTION PAGE STYLING */
.questionOne {
	margin-top: 20px;
	margin-left: 16.666665%;
	margin-bottom: 0;
	height: 80px;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid black;
	background-color: $questionDivColor;
}

.questionDropOne {
	margin-top: 0;
	margin-left: 25%;
	margin-bottom: 0;
	height: 100px;
	display: none;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	padding: 15px;
	background-color: white;
}

.questionOne.expanded {
	.questionDropOne {
		display: block;
	}	
}

.questionTwo {
	margin-left: 16.666665%;
	margin-bottom: 0;
	height: 80px;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid black;
	background-color: $questionDivColor;
}

.questionDropTwo {
	margin-top: 0;
	margin-left: 25%;
	margin-bottom: 0;
	height: 100px;
	display: none;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	padding: 15px;
	background-color: white;
}

.questionTwo.expanded {
	.questionDropTwo {
		display: block;
	}	
}

.questionThree {
	margin-left: 16.666665%;
	margin-bottom: 0;
	height: 80px;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid black;
	background-color: $questionDivColor;
}

.questionDropThree {
	margin-top: 0;
	margin-left: 25%;
	margin-bottom: 0;
	height: 100px;
	display: none;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	padding: 15px;
	background-color: white;
}

.questionThree.expanded {
	.questionDropThree {
		display: block;
	}	
}

.questionFour {
	margin-left: 16.666665%;
	margin-bottom: 0;
	height: 80px;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid black;
	background-color: $questionDivColor;
}

.questionDropFour {
	margin-top: 0;
	margin-left: 25%;
	margin-bottom: 0;
	height: 100px;
	display: none;
	border: 1px solid black;
	border-top: none;
	padding: 15px;
	background-color: white;
}

.questionFour.expanded {
	.questionDropFour {
		display: block;
	}	
}

.questionFive {
	margin-bottom: 0;
	height: 80px;
	padding: 15px;
	float: right;
	margin-right: 16.6666%;
}
.questionSix {
	margin-bottom: 0;
	height: 80px;
	padding: 15px;
	float: left;
	clear: left;
}

.resultButton {
	float: right;
}


/* RESULT PAGE STYLING */
.result {
	height: 300px;
	margin-left: 16.666665%;
	margin-top: 100px;
}
.candidatePicture {
	height: auto;
	width: 100%;
	background: none;
	border-radius: 5px;
	padding: 0;
}
.candidateMatch {
	width: 300px;
	height: auto;
	margin-left: 38.5%;
	border-radius: 5px;
}

.candidateInfo {
	width: 100%;
	height: auto;
	background: white;
	border-radius: 5px;
	padding: 15px;
	h1 {
		color: black;
		font-size: 2.5em;
		margin-top: 30px;
		display: inline-block;
		margin-left: 25%;
		margin-bottom: 20px;
	}
}

















